/*

CSS Reset 

*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}
/* /////////////////////////////////////////////////////////

Code Starts

*/
@media screen and (max-width: 275px){

    .topWrapper .myName {
        font-size: 28px;
    }
}

/* /////////////////////////////////////////////////////////
*/
@media screen and (max-width: 649px){

    /*

    Navigation Section Layout

    */

    .nav {
        margin: 0 auto 0 auto;
        position: fixed;
        width: 100%;
    }


    .topWrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 10vh;
        width: 100%;
    }

    .navContent {
        position: absolute;
        top: 80px;
        min-width: 100%;
        z-index: 1;
      }
      
    .navContent a {
        display: block;
      }


      
    /*

    Main Blurb Section Layout

    */

    .imageCont{
        display: block;
        padding-top: 10vh;
        height: 50vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nathanImage{
        height: 80%;;
        display: block;
        border: 10px solid #657786;
    }

    .bioWrapper {
        gap: none;
        text-align: center;
        min-height: 50vh;
        max-height: fit-content;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 5%;

    }
    .bioName {
        font-size: 4.5rem;
        line-height:4.5rem;
    }
    .bioName span {
        color: #1DA1F2;
    }
    .jobTitle{
        line-height: 2rem;
        font-size:1.2rem;
        text-align: center;
    }
    .img-loc{
        display:flex;
        justify-content: center;
    }
    .locationIcon{
        width: 10px;
    }

    .bioBlurb {

        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    /*

     Sections Layout

    */

    .sectionWrapper {
        width: 100%;
    }

    /*

     Nav Menu Style 

    */
    html {
        background-color: #E1E8ED;
        font-size: 18px;
    }
    .topWrapper{
        color: #E1E8ED;
        background-color: #14171A;
    }
    
    .navButton {
        border: none;
        margin-top:.5rem;
        background-color: #14171A;
      }
    
    .navButton img {
        background-color: #14171A;
        height: 30px;
    }
    

      
    .navContent a {
        padding: 12px 16px;
        text-decoration: none;
      }

    .navContent li {
        text-align: center;
        border-bottom: 1px solid black;
        font-size: 22px;
        line-height: 1.6rem;
        background-color: #F5F8FA;
    }


    .navContent li {
        opacity: 0; /* Initially hidden */
        transform: translateX(-100%); /* Initially outside the viewport */
        transition: opacity 0.5s, transform 0.5s;
      }
      .navContent li.slide-in {
        opacity: 1; /* Show the item */
        transform: translateX(0); /* Slide it in from the left */
      }

    /*

    Main Blurb Style 

    */
    body {
        font-size: 18px;
        line-height: 1.5rem;
    }

    .nathanImage{
        margin: 0 auto;
        border-radius: 50%;
    }


    .locationIcon{
        margin: 0 .5rem;
    }

    /* 

     Sections Style Layout

    */

    section h2 {
        font-weight: bolder;
        font-size:24px;
    }
    section p {
        margin: .25rem auto .5rem auto;
    }
}
    /* 

     Sections Style Layout

    */

    .projectsSection, .experienceSection{
        width: 100%;
        padding-top: 10vh;
        height: 90vh;
    }
    .educationSection{
        width: 100%;
        padding-top:10vh;
        height: 100vh;
    }
    .edCont {
        line-height:1.7rem;
    }

    .edCont h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
   .date {
        color: #1DA1F2;
        font-weight: bold;
        font-size: 1rem;
    }
    
    .res-bullet-points{
        list-style-type:disc;	
        margin-top:10px;
    }
    
    .res-bullet-points li{
        margin-top: 5px;
        margin-left: 30px;
    }

/* /////////////////////////////////////////////////////////
*/

@media (min-width: 650px) {
    .superWrapper {
        display:flex;
        flex-direction: row;
        min-height: 100vh;
        margin-bottom: 0;
        background-color: #F5F8FA;
    }
    .leftWrapper {
        min-width: 30%;
        min-height: 100%;
        background-color: #AAB8C2;
        min-height: vh;
        margin-bottom: 0;
        display:flex;
        flex-direction: column;

    }
    .nav{
        order: 2;
    }
    .mainBlurb{
        order: 1;
    }
    .nathanImage{
        width: 70%;
        border-radius: 50%;
        display: block;
        margin: 150px auto 25px auto;
    }

    .locationIcon{
        display: none;
    }
    .jobTitle{
        display: none;
    }
    .img-loc {
        display: none;
    }

    .navButton, .myName{
        display: none;
    }
    .navContent{
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightWrapper {
        min-width: 70%;
        min-height: 100vh;
        margin-top: 200px;
    }

/* /////////////////////////////////////////////////////////
*/

}
@media (min-width: 1100px){
    .leftWrapper {
        min-width: 25%;
    }
    .rightWrapper {
        min-width: 75%;

    }
}


    /*

    Blue #1DA1F2

    Black #14171A

    Dark Gray #657786

    Light Gray #AAB8C2

    Extra Light Gray #E1E8ED

    Extra Extra light gray #F5F8FA

    */